<% include ../includes/head.ejs %>
    <h3 id="head2">Book informations</h3>
    <section class="me" style="color: white">



        <section>
            <h3>
                <%=list.name%>
            </h3>
        </section>


        <img src="<%= list.image%>" style="color: white; margin-left:20px ; height: 200px; width: 200px;">

        <section>
            <h3>Description</h3>
        </section>
        <section style="color: white; margin-left:20px ;">
            <%= list.description%>
        </section>
        <section>
            <h3>Price</h3>
        </section>
        <section style="color: rgb(223, 202, 21); margin-left:20px ;">
            $<%= list.price%>
        </section>
        <section>
            <a href="/updated/<%= list._id%>" style="text-align: center; margin-left:200px;">
                <button type="submit">update</button>
            </a>
            <a href="/deleted/<%= list._id%>" style="text-align: center; margin-left:200px;">
            <button type="submit">delete</button>
            </a>

        </section>
       
    </section>

    <% include ../includes/end.ejs %>