<% include ../includes/head.ejs %>
<%if(errorMsg){%>
    <span style="text-align: center; color:tomato; margin-left: 400px;">
        <%=errorMsg%>
    </span>
    <%}%>

    <h3 id="head2">Update product</h3>
    <form action="/update/<%= list._id %>" method="POST" id="me">
        <span>
            <p>Product name:</p>
            <input type="text" name="name" value="<%= list.name%>">
        </span><br>
        <span>
            <p>Product price:</p>
            <input type="text" name="price" value="<%= list.price%>">
        </span><br>
        <span>
            <p>Image Url:</p>
            <input type="text" name="image" value="<%= list.image%>">
        </span><br>
        <span>
            <p>Product description:</p>
            <input type="text" name="description" value="<%= list.description%>">
        </span><br>


        <span><input type="submit" value="submit"> <button type="reset">Clear</button></span>
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    </form>
    <% include ../includes/end.ejs %>